<%= render partial: "shared/header" %>

<div id='information'>
    <p>If a customer buys
        <%= @discount.threshold %> units,
        they will receive a
        <%= @discount.percentage %> percent discount.
    </p>
</div>

<%= link_to "Edit Discount", edit_merchant_bulk_discount_path(@merchant, @discount)%>
