<%= render partial: "shared/header" %>

<div id='information'>
    <p>If a customer buys
        <%= @discount.threshold %> units,
        they will receive a
        <%= @discount.percentage %> discount.
    </p>
</div>
