<%= render partial: "shared/admin_header" %>

<h1 id="header"> Admin Dashboard </h1>

<h3 id="merchants"><%= link_to "Merchants", '/admin/merchants' %></h3>

<h3 id="invoices"><%= link_to "Invoices", '/admin/invoices' %></h3>

<h2 id="top customers">Top Customers</h2>
<% @customers_top_5.each do |customer|  %>
    <p><%= "#{customer.first_name} #{customer.last_name} #{customer.transactions.count}" %></p>
<% end %>

