<%= render partial: "shared/admin_header" %>
<hr>
<h3 class="d-flex justify-content-center">Invoices</h3>

<div id="invoices">
  <% @invoices.each do |invoice| %>
    <%= link_to "Invoice ##{invoice.id}", admin_invoice_path(invoice) %><br>
  <% end %>
</div>