<h1 class="position-relative mt-5">
  <strong class="position-absolute top-99 start-50 translate-middle mt-1">Little Esty Shop</strong>
</h1>

<br>
<br>
<div class="row mt-5" id="nav">
  <h2 class="col-8">Admin Dashboard</h2>
  <div class="btn-group col-4" role="group">
    <p type="button" class="btn btn-outline-primary"><%= link_to "Dashboard", admin_dashboard_path %></p>
    <p type="button" class="btn btn-outline-primary"><%= link_to "Merchants", admin_merchants_path %></p>
    <p type="button" class="btn btn-outline-primary"><%= link_to "Invoices", admin_invoices_path %></p>
  </div>
</div>