---
http_interactions:
- request:
    method: get
    uri: https://date.nager.at/api/v3/PublicHolidays/2022/US
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Api-Supported-Versions:
      - 1.0, 2.0, 3.0
      Last-Modified:
      - Tue, 14 Jun 2022 20:21:40 GMT
    body:
      encoding: ASCII-8BIT
      string: '[{"date":"2021-12-31","localName":"New Year''s Day","name":"New Year''s
        Day","countryCode":"US","fixed":false,"global":true,"counties":null,"launchYear":null,"types":["Public"]},{"date":"2022-01-17","localName":"Martin
        Luther King, Jr. Day","name":"Martin Luther King, Jr. Day","countryCode":"US","fixed":false,"global":true,"counties":null,"launchYear":null,"types":["Public"]},{"date":"2022-02-21","localName":"Presidents
        Day","name":"Washington''s Birthday","countryCode":"US","fixed":false,"global":true,"counties":null,"launchYear":null,"types":["Public"]},{"date":"2022-04-15","localName":"Good
        Friday","name":"Good Friday","countryCode[...]
[...]
